
#one {
    background-color: lightseagreen !important;
}
.box {
    background-color: aqua !important;
}

div {
    height: 40px;
    width: 40px;
    margin: 40px;
    background-color: blueviolet;
}