#div1 {
    margin: 30px;
    background-color: red;
    width: 100px;
    height: 100px;
    transition: width 1s;

    /*transform: translate(30px, 40px);*/
    /*transform: rotate(0.1rad);*/
    /*transform: skewY(20deg);*/
    /*transform: scale(2,2);*/
    /*transform: matrix(1,0,0!* x90 *!,1,50,50!* px *!);*/
    /*transform: rotateX(45deg);*/
}

@keyframes godown {
    0% {
        height: 100px;
    }
    25% {
        transform: rotate(30deg);
        height: 200px;
    }
    50% {
        height: 100px;
    }
    75% {
        height: 200px;
    }
}

#div1:hover {
    background-color: blue;
    width: 130px;
    height: 200px;
    /*transition: width 1s, background-color 3s;*/
    animation: godown 2s;
}

